<!DOCTYPE html>
<html>
    <head>
        <title>User Home</title>
        <style>
        table tr:nth-child(even){
            background:bule;
        }
        table tr:nth-child(odd){
            background:white;
            table th {
            background-color: black;
            color: white;
            padding: 5px;
        </style>
    </head>
    <body style="background-color:#FEFE06;">
        <h1 data-th-inline="text" stype="test-align:center;">[[${#httpServletRequest.remoteUser}]]'s Quickview'!</h1>

        <div>
            <table style="width: 50%">
                <tr>
                    <th>ID</th>
                    <th>comment</th>
                    <th>movietype</th>
                </tr>
                <tr data-th-each="movie : ${movie}">
                    <td data-th-text="${movie.id}"></td>
                    <td data-th-text="${movie.comment}"></td>
                      <td data-th-text="${moviename.name}"></td>
                    <td data-th-text="${movie.movieType}"></td>
                </tr>
            </table>
        </div>

        <hr />
        Add comment<br />
        <form data-th-action="@{/movie/add}" name="addmovieForm" method="post">
            Title: <input type="text" name="title" /><br />
            Write quickreview of the movie : <br />
            <textarea style="width:400px;height:100px;" type="text" name="Comment" /><br />
            choose one Type:<br />
            <input type="radio" name="movieType" value="Action" checked="checked" /> Action movie<br />
            <input type="radio" name="movieType" value="Comedy" /> Comedy<br />
            <input type="radio" name="movieType" value="Documentory" /> documentory<br />
            <input type="radio" name="movieType" value="Crime" /> Crime<br />
            <input type="submit" value="Add movietype"/>
        </form>

        <hr />
        <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>